html,
body {
  height: 100%;
}

code {
  font-size: 80%;
  word-wrap: break-word;
  white-space: normal;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#wrap > .container {
	padding: 60px 15px 0;
}

.container {
	text-align: center;
}

.puppy {
	padding: 20px;
	margin-bottom: 20px;
}

